@model List<banSach.Models.Sach>
@{
    ViewBag.Title = "Sách - " + ViewBag.Category.TenLoai;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @if (TempData["Success"] != null)
    {
        <div class="alert-box success" id="success-alert">
            <span class="icon">✔</span>
            <span>@TempData["Success"]</span>
            <button class="close-btn" onclick="this.parentElement.style.display='none';">×</button>
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert-box error" id="error-alert">
            <span class="icon">✖</span>
            <span>@TempData["ErrorMessage"]</span>
            <button class="close-btn" onclick="this.parentElement.style.display='none';">×</button>
        </div>
    }
</div>

<div class="row">
    @foreach (var sach in Model)
    {
        <div class="col-xl-3 col-lg-4 col-md-4 col-12">
            <div class="single-product">
                <div class="product-img">
                    <a>
                        <img class="default-img" src="~/img/sach/@sach.Hinh" alt="#">
                        <img class="hover-img" src="~/img/sach/@sach.Hinh" alt="@sach.TenSach">
                    </a>
                    <div class="button-head">
                        <div class="product-action">
                            <a data-toggle="modal" data-target="#exampleModal" title="Xem thông tin" href="@Url.Action("Details", "Book", new {id=sach.MaSach})"><i class="bx bx-show"></i><span>Xem nhanh</span></a>
                        </div>
                        <div class="product-action-2">
                            @if (@sach.SoLuongTon != 0 && @sach.SoLuongTon != null)
                            {
                                <a href="@Url.Action("ThemGiohang","GioHang", new {@iMasach=@sach.MaSach,@strURL=Request.Url.ToString()})">Thêm vào giỏ</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="product-content text-center">
                    <h3><a href="@Url.Action("Details", "BookStore", new {id=sach.MaSach})">@sach.TenSach</a></h3>
                    <div class="product-price">
                        @if (@sach.SoLuongTon != 0 && @sach.SoLuongTon != null)
                        {
                            <span>@String.Format("{0:#,##0}", @sach.GiaBan)</span><span> VNĐ</span>
                        }
                        else
                        {
                            <span>Hết Hàng</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<style>
    .icon {
        font-weight: bold;
        font-size: 18px;
    }
</style>