<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content=''>
    <link rel="icon" type="image/png" href="~/img/logo/favicon.png">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.min.css">
    <link rel="stylesheet" href="~/Content/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/Content/niceselect.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/flex-slider.min.css">
    <link rel="stylesheet" href="~/Content/owl-carousel.css">
    <link rel="stylesheet" href="~/Content/slicknav.min.css">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/css.css">
    <link rel="stylesheet" href="~/Content/responsive.css">
    <link href="~/Content/css/thongbao.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/themify-icons/1.0.0/css/themify-icons.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <style>
        /* Make the entire header sticky */
        .header.shop {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
            background-color: #fff;
            font-size: 14px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        /* Ensure body has padding to prevent content from being hidden under the header */
        body {
            padding-top: 150px; /* Adjust this value based on the header's height */
        }

        /* Adjust topbar */
        .topbar {
            font-size: 12px;
            padding: 5px 0;
            background-color: #f8f8f8;
        }

            .topbar .list-main li {
                margin-right: 10px;
            }

        /* Adjust search bar */
        .search-bar-top {
            padding: 5px 0;
        }

        .search-bar input {
            font-size: 12px;
            padding: 5px;
            width: 200px;
        }

        /* Style for the sticky menu */
        .sticky-menu {
            background-color: #333;
            width: 100%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            color: #fff;
            font-size: 13px;
        }

            .sticky-menu .container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 3px 10px;
                max-width: 1200px;
                margin: 0 auto;
            }

        /* Ensure menu items are displayed in a row and centered */
        .main-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3px 0;
            margin: 0;
            flex-wrap: nowrap;
            width: 100%;
        }

            .main-menu li {
                list-style: none;
                margin: 0 10px;
            }

                .main-menu li a {
                    text-decoration: none;
                    color: #fff;
                    font-weight: 500;
                    font-size: 13px;
                    padding: 3px 8px;
                    white-space: nowrap;
                }

                /* Style for highlighted menu item (e.g., Trang Chủ) */
                .main-menu li.highlight a {
                    background-color: #ff6f00;
                    color: #fff;
                    border-radius: 5px;
                }

                /* Hover effects for menu items */
                .main-menu li a:hover {
                    color: #ff6f00;
                }

                .main-menu li.highlight a:hover {
                    background-color: #e65c00;
                    color: #fff;
                }

        /* Ensure navbar and its children are not affected */
        .navbar-collapse, .nav-inner {
            width: 100%;
        }

        .footer {
            font-size: 14px;
        }

            .footer .single-footer h4 {
                font-size: 16px;
                margin-bottom: 10px;
            }

            .footer .single-footer ul li {
                margin-bottom: 6px;
            }

        .footer-top.section {
            padding: 60px 0; /* giảm chiều cao */
        }
    </style>
</head>
<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Header -->
    <header class="header shop">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-12">
                        <div class="top-left">
                            <ul class="list-main">
                                <li><i class="bx bx-headphone"></i> +060 (800) 801-582</li>
                                <li><i class="bx bx-envelope"></i> info@bookstore.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-12">
                        <div class="right-content">
                            <ul class="list-main">
                                <li><i class="bx bx-map"></i> 2 Nguyễn Đình Chiểu, Nha Trang</li>
                                @if (Session["KhachHang"] == null || string.IsNullOrEmpty(Session["KhachHang"]?.ToString()))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Index", "Dangnhap")">
                                            <i class="bx bx-log-in"></i> Đăng Nhập
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Index", "Dangky")">
                                            <i class="bx bx-user-plus"></i> Đăng Ký
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <span class="nav-link">
                                            <i class="bx bx-user"></i> @Session["HoTen"]
                                        </span>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Logout", "Dangnhap")">
                                            <i class="bx bx-log-out"></i> Thoát
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar -->
        <div class="middle-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-12">
                        <div class="logo">
                            <a href="@Url.Action("Index","Home")"><img src="~/img/logo/logo.png" alt="logo"></a>
                        </div>
                        <div class="search-top"></div>
                        <div class="mobile-nav"></div>
                    </div>
                    <div class="col-lg-8 col-md-7 col-12">
                        <div class="search-bar-top">
                            <div class="search-bar">
                                @using (Html.BeginForm("TimKiem", "Home"))
                                {
                                    <input name="skey" placeholder="Nhập thông tin tìm kiếm....." type="text">
                                    <button class="btnn" type="submit"><i class="bx bx-search"></i></button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-12">
                        <div class="right-bar">
                            @if (Session["KhachHang"] != null && !string.IsNullOrEmpty(Session["KhachHang"]?.ToString()))
                            {
                                <div class="sinlge-bar">
                                    <a href="@Url.Action("Index", "Thongtin")" class="single-icon" title="Xem/Chỉnh sửa thông tin">
                                        <i class="bx bx-user-circle"></i>
                                    </a>
                                </div>
                            }
                            <div class="sinlge-bar shopping">
                                <a href="@Url.Action("Index","Giohang")" class="single-icon">
                                    <i class="bx bx-cart"></i>
                                    @if (ViewBag.Tongsoluong != null)
                                    {
                                        <span class="total-count">@ViewBag.Tongsoluong</span>
                                    }
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Inner -->
        @Html.Action("Menu", "Module")
        <!--/ End Header Inner -->
    </header>

    <div class="product-area section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div>
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Footer Area -->
    <footer class="footer">
        <div class="footer-top section py-4">
            <div class="container">
                <div class="row gx-2 gy-3">
                    <!-- Cột 1: Thông tin -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-footer links p-2">
                            <h4>Về chúng tôi</h4>
                            <ul>
                                <li><a href="@Url.Action("GioiThieu", "Home")">Giới thiệu</a></li>
                                <li><a href="@Url.Action("ChinhSachBanHang", "Home")">Chính sách bán hàng</a></li>
                                <li><a href="@Url.Action("ChinhSachBaoMat", "Home")">Chính sách bảo mật</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Cột 2: Tài khoản -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-footer links p-2">
                            <h4>Tài khoản của tôi</h4>
                            <ul>
                                @if (Session["KhachHang"] == null || string.IsNullOrEmpty(Session["KhachHang"]?.ToString()))
                                {
                                    <li><a href="@Url.Action("Index", "Dangnhap")">Đăng Nhập</a></li>
                                    <li><a href="@Url.Action("Index", "Dangky")">Đăng Ký</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Index", "Thongtin")">Thông Tin Cá Nhân</a></li>
                                    <li><a href="@Url.Action("DonHang", "Thongtin")">Đơn Hàng Đã Mua</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- Cột 3: Liên hệ -->
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="single-footer social p-2">
                            <h4>Thông tin liên hệ</h4>
                            <div class="contact">
                                <ul>
                                    <li>Số 2 Nguyễn Đình Chiểu, Nha Trang, Khánh Hòa</li>
                                    <li>Chủ Trang: Võ Thùy Linh</li>
                                    <li>info@bookstore.com</li>
                                    <li>+012 3456 7890</li>
                                </ul>
                            </div>
                            <ul class="d-flex gap-2 mt-2">
                                <li><a href="#"><i class="bx bxl-facebook"></i></a></li>
                                <li><a href="#"><i class="bx bxl-twitter"></i></a></li>
                                <li><a href="#"><i class="bx bxl-pinterest"></i></a></li>
                                <li><a href="#"><i class="bx bxl-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Jquery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-migrate-3.0.0.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <!-- Popper JS -->
    <script src="~/Scripts/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Color JS -->
    <script src="~/Scripts/colors.js"></script>
    <!-- Slicknav JS -->
    <script src="~/Scripts/slicknav.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/Scripts/owl-carousel.js"></script>
    <!-- Magnific Popup JS -->
    <script src="~/Scripts/magnific-popup.js"></script>
    <!-- Waypoints JS -->
    <script src="~/Scripts/waypoints.min.js"></script>
    <!-- Countdown JS -->
    <script src="~/Scripts/finalcountdown.min.js"></script>
    <!-- Nice Select JS -->
    <script src="~/Scripts/nicesellect.js"></script>
    <!-- Flex Slider JS -->
    <script src="~/Scripts/flex-slider.js"></script>
    <!-- ScrollUp JS -->
    <script src="~/Scripts/scrollup.js"></script>
    <!-- Onepage Nav JS -->
    <script src="~/Scripts/onepage-nav.min.js"></script>
    <script src="~/Scripts/easing.js"></script>
    <script src="~/Scripts/active.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>